[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.2.1
[submodule "libs/qu3e"]
	path = libs/qu3e
	url = https://github.com/RandyGaul/qu3e.git
[submodule "libs/lodepng"]
	path = libs/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
