*.opensdf
Debug/Tutorial.exe
Debug/Tutorial.ilk
Debug/Tutorial.pdb
Tutorial.sdf
Tutorial.v12.suo
Tutorial/Debug/Main.obj
Tutorial/Debug/RectangularPrism.obj
Tutorial/Debug/Tutorial.log
Tutorial/Debug/Tutorial.tlog/CL.read.1.tlog
Tutorial/Debug/Tutorial.tlog/CL.write.1.tlog
Tutorial/Debug/Tutorial.tlog/link.command.1.tlog
Tutorial/Debug/Tutorial.tlog/link.read.1.tlog
Tutorial/Debug/vc120.idb
Tutorial/Debug/vc120.pdb
.vs/Tutorial/v14/.suo
Tutorial/Debug/ShaderManager.obj
Tutorial/Debug/SpawnMachine.obj
Tutorial/Debug/camera.obj
Tutorial/Debug/vc140.idb
Tutorial/Debug/vc140.pdb
*.obj
*.tlog
*.dat
